# =========================
# Backend
# =========================
backend-api/node_modules/
backend-api/.env
backend-api/.env.local
backend-api/.env.development
backend-api/.env.production

# =========================
# Frontend
# =========================
frontend-angular/node_modules/
frontend-angular/.angular/
frontend-angular/dist/

# =========================
# Archivos de entorno generales
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Sistema operativo / editor
# =========================
.DS_Store
Thumbs.db
.vscode/